<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <csp>
      <mode>
        <storefront>
          <report_only>0</report_only>
        </storefront>
        <admin>
          <report_only>0</report_only>
        </admin>
      </mode>
        <policies>
            <storefront_checkout_index_index>
                <scripts>
                    <inline>1</inline>
                    <event_handlers>1</event_handlers>
                </scripts>
            </storefront_checkout_index_index>
        </policies>
    </csp>
  </default>
</config>
