<!--@subject {{trans "Nueva orden en TIENDA PSA"}} @-->
<!--@vars {} @-->

{{template config_path="design/email/header_template"}}
<table>
    <tr>
        <td>
            <table>
                <tr>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <p class="greeting">{{trans "Hola %dealer_name." dealer_name=$dealer_name}}</p>
                                        <p>{{trans 'Tenes un nuevo pedido de la TIENDA OFICIAL PSA. Te sugerimos que te contactes con tu usuario en un plazo de 24 hs para poder brindarle la mejor atención. puedes revisarla entrando a <a href="%url_back">admin panel</a>.' url_back=$admin_url | raw}}</p>
                                        <p>{{trans "Debajo los detalles de compra:"}}</p>
                                        <p>{{trans "Usuario: %user_name" user_name=$customer_name}}</p>
                                        <p>{{trans "Teléfono: %telephone" telephone=$phone}}</p>
                                        <p>{{trans "Dirección de entrega: %caddress" caddress=$address}}</p>
                                        <p>{{trans "E-mail: %email_customer" email_customer=$customer_email}}</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h2>{{trans "Detalle del pedido:"}}</h2>
                        {{layout handle="sales_email_order_items" order_id=$order_id area="frontend"}}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}
