<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   
    <type name="WeltPixel\Backend\Helper\License">
        <plugin name="BalloonGroup_PearlCrack::LicenseFix" type="BalloonGroup\PearlCrack\Plugin\LicenseFix"/>
    </type>
    
    <type name="WeltPixel\Backend\Model\License">
        <plugin name="BalloonGroup_PearlCrack::LicenseFix" type="BalloonGroup\PearlCrack\Plugin\LicenseFixModel"/>
    </type>

</config>