<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Redegal_Sepomex::sepomex" sortOrder="10" title="sepomex">
					<resource id="Redegal_Sepomex::sepomex_save" sortOrder="10" title="Save sepomex"/>
					<resource id="Redegal_Sepomex::sepomex_delete" sortOrder="20" title="Delete sepomex"/>
					<resource id="Redegal_Sepomex::sepomex_update" sortOrder="30" title="Update sepomex"/>
					<resource id="Redegal_Sepomex::sepomex_view" sortOrder="40" title="View sepomex"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
