<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="BalloonGroup_Ume::balloongroup_ume_ume"
            title="Administrar Ume - Productos"
            module="BalloonGroup_Ume"
            sortOrder="9999"
            resource="Magento_Backend::content"
            parent="Magento_Catalog::catalog"
            action="balloongroup_ume/ume/index"/>
    </menu>
</config>
