<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="BalloonGroup_OrdersByDealer::menu"
             title="Sales"
             module="BalloonGroup_OrdersByDealer"
             sortOrder="10"
             resource="BalloonGroup_OrdersByDealer::menu"
        />
        <add id="BalloonGroup_OrdersByDealer::grid"
             title="Orders"
             module="BalloonGroup_OrdersByDealer"
             sortOrder="10"
             parent="BalloonGroup_OrdersByDealer::menu"
             action="sales_dealer/grid/index"
             resource="BalloonGroup_OrdersByDealer::grid"
        />
    </menu>
</config>
