<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="atmpayment" frontName="atmpayment">
            <module name="BalloonGroup_PsaPayment"/>
        </route>
    </router>
</config>
