<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Balloon_Core::core">
                    <resource id="Balloon_Core::menu">
                        <resource id="Balloon_RestClientErrorReport::menu" title="RestClient Menu"  sortOrder="2">
                            <resource id="Balloon_RestClientErrorReport::logs" title="RestClient logs"  sortOrder="1"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
